# build index
sh target/appassembler/bin/IndexCollection -collection CarCollection -input /home/imackie/Documents/trec_car/data/paragraphs/ -index /home/imackie/Documents/trec_car/index/anserini_paragraphs/lucene.local -generator LuceneDocumentGenerator -threads 10 -storePositions -storeDocvectors -storeRawDocs

# test hieractical run
sh target/appassembler/bin/SearchCollection -topicreader Car -index /home/imackie/Documents/trec_car/index/anserini_paragraphs/lucene.local -topics /home/imackie/Documents/trec_car/data/anserini_data/test.topics -output /home/imackie/Documents/trec_car/data/anserini_data/test.run -hits 10 -bm25 

# eval test hieractical 
./eval/trec_eval.9.0.4/trec_eval -m map -m recip_rank -c /home/imackie/Documents/trec_car/data/anserini_data/test.qrels /home/imackie/Documents/trec_car/data/anserini_data/test.run

# test tree run
sh target/appassembler/bin/SearchCollection -topicreader Car -index /home/imackie/Documents/trec_car/index/anserini_paragraphs/lucene.local -topics /home/imackie/Documents/trec_car/data/anserini_data/test_tree.topics -output /home/imackie/Documents/trec_car/data/anserini_data/test_tree.run -hits 10 -bm25

# eval test tree run
./eval/trec_eval.9.0.4/trec_eval -m map -m recip_rank -c /home/imackie/Documents/trec_car/data/anserini_data/test_tree.qrels /home/imackie/Documents/trec_car/data/anserini_data/test_tree.run



